# Data Science Tools and Ecosystem

# Exercise 1: Create a Jupyter Notebook
This is a Jupyter notebook called DataScienceEcosystem.ipynb

# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction. (1 pt)
## Introduction
This notebook covers various aspects of data science including languages, libraries, tools, and basic arithmetic operations. It aims to provide a foundational understanding of the components used in data science.

# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
## Data Science Languages
Some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
## Data Science Libraries
Some of the commonly used libraries in data science are:
1. Pandas
2. NumPy
3. Matplotlib
4. SciPy
5. Scikit-learn
6. TensorFlow
7. Keras
8. PyTorch

# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
## Data Science Tools
| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
## Arithmetic Expression Examples
### In this section, we will demonstrate basic arithmetic operations like addition, subtraction, multiplication, and division.

In [1]:
# This code multiplies and adds two numbers
a = 5
b = 4
add = a + b
sub = a - b
multiply = a * b
division = a / b
print("Addition: " + str(add))
print("Subtraction: " + str(sub))
print("Multiplication: " + str(multiply))
print("Division: " + str(division))

Addition: 9
Subtraction: 1
Multiplication: 20
Division: 1.25

# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [2]:
# This code multiplies two numbers and adds it to the sum of these two numbers
a = 5
b = 4
result = (a*b)+(a+b)
print("Result: " + str(result))

Result: 29

# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [3]:
# This code converts 200 minutes to hours by diving the minutes by 60
minutes = 200
hours = minutes / 60
print("200 minutes converted in hours: " + str(hours))

200 minutes converted in hours: 3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives. (3 pts)
## Objectives
- List the fundamental languages used in data science
- Learn about key data science libraries and tools
- Perform basic arithmetic operations in Python
- Convert units within Python

# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
## Author
Name of author