# Data Science in Jupyter Notebooks

# Exercise 1: Create a Jupyter Notebook
This is Jupyter notebook called DataScienceEcosystem.ipynb

# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
# Data Science in Jupyter Notebooks

# Exercise 3 - Create a markdown cell for an introduction. (1 pt)
## Introduction
This notebook covers various aspects of data science including languages, libraries, tools, and basic arithmetic operations. It aims to provide a foundational understanding of the components used in data science.

# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
## Data Science Languages
Some of the popular languages that data scientists use are:
- Python
- R
- SQL
- Julia
- Scala

# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
## Data Science Libraries
Some of the commonly used libraries in data science are:
- Pandas
- NumPy
- Matplotlib
- SciPy
- Scikit-learn
- TensorFlow
- Keras
- PyTorch

# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
## Data Science Tools
| Tool          | Description                                       |
|---------------|---------------------------------------------------|
| Jupyter       | Interactive computing environment                 |
| RStudio       | Integrated development environment for R          |
| Apache Hadoop | Framework for distributed storage and processing  |
| Apache Spark  | Unified analytics engine for big data processing  |
| Tableau       | Data visualization and business intelligence tool |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
## Arithmetic Expression Examples
In this section, we will demonstrate basic arithmetic operations like addition, subtraction, multiplication, and division.

In [11]:
# This code multiplies and adds two numbers
a = 5
b = 4
add = a + b
sub = a - b
multiply = a * b
division = a / b
print("Addition: " + str(add))
print("Subtraction: " + str(sub))
print("Multiplication: " + str(multiply))
print("Division: " + str(division))

Addition: 9
Subtraction: 1
Multiplication: 20
Division: 1.25

# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [8]:
# This code multiplies and adds two numbers
a = 5
b = 4
multiply = a * b
add = a + b
print("Multiplication: " + str(multiply))
print("Addition: " + str(add))

Multiplication: 20
Addition: 9

# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [10]:
# This code converts minutes to hours
minutes = 150
hours = minutes / 60
print("150 minutes converted in hours: " + str(hours))

150 minutes converted in hours: 2.5

# Exercise 10 - Insert a markdown cell to list Objectives. (3 pts)
## Objectives
- Understand the fundamental languages used in data science
- Learn about key data science libraries and tools
- Perform basic arithmetic operations in Python
- Convert units within Python

# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
## Author
"Real name of author"